---
---

@import "{{ site.theme }}";

.page-header {
  background-image: linear-gradient(120deg, #25dc18, #d7e113);
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #c29f22;
}
